.idea/
.gradle/
build/
obj/
*.iml
local.properties
*.keystore
gradle.properties

TMessagesProj/src/main/java/org/telegram/messenger/BuildVars.java

TMessagesProj/jni/boringssl/
TMessagesProj/jni/breakpad/
TMessagesProj/jni/ffmpeg/
TMessagesProj/jni/libtgvoip/
TMessagesProj/jni/libwebp/
TMessagesProj/jni/libyuv/
TMessagesProj/jni/opus/
TMessagesProj/jni/sqlite/
TMessagesProj/jni/tgnet/

